﻿@using Pigeon.Model
@model Compra

<link rel="stylesheet" href="~/Content/css/Switch.css">
<link rel="stylesheet" href="~/Content/css/Pombo.css">

<div class="col-md-10 offset-1">

    @if (ViewBag.doenca != null)
    {
        <div class="panel panel-default" style="margin-top: 15vh;">
            <div class="panel-heading">
                <h2 class="panel-title" style="text-align: center;">Doença: @ViewBag.doenca.Nome</h2>
            </div>
            <div class="panel-body" style="margin-top: 5vh;">
                <h3>Descrição:</h3>
                <p>
                    @ViewBag.doenca.descricao_sintomas
                </p>
            </div>
        </div>


    }

</div>

<script>
    $(document).ready(
        function () {
            MudarSelecaoPagina("Doencas");
        }
    );
</script>
