﻿@using Pigeon.Model
@model List<Doenca>



<link href="~/Content/css/Pombo.css" rel="stylesheet">


<div class="row margem-top-25">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"> <img src="~/Content/imgs/icons/search.png" height="25" /> </div>
            </div>
            <input type="text" class="form-control" id="tbxBuscar" placeholder="Buscar">
        </div>
    </div>
    <div class="col-md-1">
        <img class="clicavel" src="~/Content/imgs/icons/add_circle.png" height="36" onclick="ModalCadastroDoenca();" />
    </div>

</div>

<div class="row margem-top-10">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr class="text-center">
                    @*<th scope="col">ID</th>*@
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Doenca P in Model)
                {
                    <tr id="Pombo-@P.id" class="text-center selecionar">
                        @*<td>@item.Id</td>*@
                        <td>@P.id</td>
                        <td onclick="RedirectToDoenca(@P.id)">@P.Nome</td>
                        <td><img class="responsivo" src="~/Content/imgs/icons/remove.png" height="25" onclick="ModalExclusaoCompra(this);" /></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script src="~/Scripts/Doenca.js"></script>

<script>

    $(document).ready(
        function () {
            MudarSelecaoPagina("Doencas");
        }
    );

    function RedirectToDoenca(id) {
        window.location.href = "/doenca/" + id;
    }

    function CadastraDoencaPre() {
        if (!ValidacaoDoenca()) return;

        var url = "@Url.Action("CadastraDoenca", "Doenca")";
            var params = {
                id: 0,
                valor: 0,
                nome: $("#nome").val(),
                descricao_sintomas: $("#descricao").val(),
         };
            $("#Modal").modal("hide");

           $.post(url, params, CadastroDoencaPos);
    }

    function ExcluirDoencaPre(id)
    {

        var url = "@Url.Action("ExcluirDoenca", "Doenca")/" + id;
            var params = {
                Id: id,
         };
            $("#Modal").modal("hide");
        $.post(url, params, ExcluirDoencaPos);
    }
</script>