﻿@using Pigeon.Model
@model Prova

<link rel="stylesheet" href="~/Content/css/Switch.css">
<link rel="stylesheet" href="~/Content/css/Pombo.css">

<div class="col-md-10 offset-1 margem-top-25">
    <h3>Descrição da competição: @ViewBag.minhaCompeticao.nome</h3>
    <h2>Data:</h2>
    <p>@ViewBag.minhaCompeticao.ano.Date</p>
    </br>
    <button onclick="openNewProvaModal();" class="btn btn-primary">Adicionar nova prova</button>

    <h2>Provas da competicao:</h2>
    @if (ViewBag.meusItems != null)
    {
        <table style="width:100%">
            <tr>
                <th>Tipo</th>
                <th>Descricao</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Deletar</th>
            </tr>

            @foreach (var item in ViewBag.meusItems)
            {
            <tr>
                <td>@item.tipo</td>
                <td>@item.descricao</td>
                <td>@item.latitude</td>
                <td>@item.longitude</td>
                <td><img class="responsivo" src="~/Content/imgs/icons/remove.png" height="25" onclick="ModalExclusaoItem(@item.id);" /></td>

            </tr>
            }
        </table>
        <br />
    }

    else
    {
        <p>A compra não possui itens.</p>
    }

</div>


<script>

    $(document).ready(
        function () {
            MudarSelecaoPagina("Competicoes");
        }
    );

//Item da compra

function openNewProvaModal() {
    var html =
        `<div class="row">

        <div class="form-group col-md-6">
            <label for="data">Tipo:</label>
            <!--<input type="text" class="form-control" id="Tipo" placeholder="Meio-fundo">-->
            <select id="ddlTipo" class="form-control">
            <option selected> Fundo </option>
            <option> Meio-fundo </option>
            </select>
            <div class="invalid-feedback">
                Digite um tipo válido.
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="data">Descricao:</label>
            <input type="text" class="form-control" id="Descricao" placeholder="Prova em engenheiro navarro - clube betinense">
            <div class="invalid-feedback">
                Digite uma descrição válida.
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="data">latitude:</label>
            <input type="text" class="form-control" id="latitude" placeholder="-11.33">
            <div class="invalid-feedback">
                Digite um valor válido(Ex: 11.22).
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="data">longitude:</label>
            <input type="text" class="form-control" id="longitude" placeholder="22.111">
            <div class="invalid-feedback">
                Digite um valor válido(Ex: 11.22).
            </div>
        </div>


    </div>`;

    ModalShow("Cadastrar Prova", "CadastrarProvaPre();", "", "Cadastrar", "Cancelar", html);
}

function ModalExclusaoItem(icon) {
        var html = "Tem certeza que deseja excluir o cadastro do Compra '" + icon + "'?";
    ModalShow("Exclusão de Item", "ExcluirItemPre(" +icon+");", "", "Sim", "Não", html);
}

    function CadastrarProvaPre() {
        if (!ValidacaoProva()) return;

        var url = "@Url.Action("adcionarItem", "Competicao")";
        var params = {
        idCompeticao: @ViewBag.minhaCompeticao.id,
        itemGravar: {
                id: 0,
                latitude: $("#latitude").val(),
                longitude: $("#longitude").val(),
                descricao: $("#Descricao").val(),
                tipo: $("#ddlTipo option:selected").text(),
                competicaoId: 0,
            },
        };
    $("#Modal").modal("hide");
    ProgressBar();
        $.post(url, params, CadastrarProvaPos);
}

function ValidacaoProva() {
    var valido = true;
    //var campo = $("#ddlTipo option:selected");
    //if (campo.val() == "" || typeof campo.val() != "string") {
    //    InvalidarPreenchimento(campo, "Nome Inválido.");
    //    valido = false;
    //}
    campo = $("#Descricao");
    if (campo.val() == "" || typeof campo.val() != "string") {
        InvalidarPreenchimento(campo, "Valor Inválido.");
        valido = false;
    }
    campo = $("#latitude");
    if (campo.val() == "" || isNaN(parseFloat(campo.val())) ) {
        InvalidarPreenchimento(campo, "Valor Inválido.");
        valido = false;
    }
    campo = $("#longitude" || isNaN(parseFloat(campo.val())));
    if (campo.val() == "") {
        InvalidarPreenchimento(campo, "Valor Inválido.");
        valido = false;
    }

    return valido;
}

function CadastrarProvaPos(id) {
    StopProgressBar();
    if (!$.isNumeric(id)) {
        Mensagem("erro", "Ocorreu um erro inesperado. Cadastro não efetuado!")
    }
    else {
        Mensagem("sucesso", "Cadastrado com Sucesso!")
    }
}

function ExcluirItemPre(id) {

    var url = "@Url.Action("excluirProva", "Competicao")";
    var params = {
        id: id,
    };
    $("#Modal").modal("hide");
    ProgressBar();
    $.post(url, params, ExcluirItemPos);
}

function ExcluirItemPos(id) {
            StopProgressBar();
            if (!$.isNumeric(id)) {
                Mensagem("erro", "Ocorreu um erro inesperado. Exclusão não efetuada!")
            }
            else {
                $("#Pombo-" + id).remove();
                Mensagem("sucesso", "Excluído com Sucesso!")
         }
}

</script>