﻿@model IEnumerable<Pigeon.Model.Competicao>


@using Pigeon.Model


<link href="~/Content/css/Pombo.css" rel="stylesheet">


<div class="row margem-top-25">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"> <img src="~/Content/imgs/icons/search.png" height="25" /> </div>
            </div>
            <input type="text" class="form-control" id="tbxBuscar" placeholder="Buscar">
        </div>
    </div>
    <div class="col-md-1">
        <img class="clicavel" src="~/Content/imgs/icons/add_circle.png" height="36" onclick="ModalCadastroCompeticao();" />
    </div>

</div>

<div class="row margem-top-10">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr class="text-center">
                    @*<th scope="col">ID</th>*@
                    <th scope="col">Ano</th>
                    <th scope="col">Nome</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Competicao P in Model)
                {
                    <tr id="Pombo-@P.id" class="text-center selecionar" >
                        <td onclick="RedirectToCompeticao(@P.id)">@P.id</td>
                        <td onclick="RedirectToCompeticao(@P.id)">@P.ano</td>
                        <td onclick="RedirectToCompeticao(@P.id)">@P.nome</td>
                        <td><img class="responsivo" src="~/Content/imgs/icons/remove.png" height="25" onclick="ModalExclusaoCompeticao(this);" /></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script src="~/Scripts/Competicao.js"></script>

<script>

    $(document).ready(
        function () {
            MudarSelecaoPagina("Competicoes");
        }
    );
    function RedirectToCompeticao(id)
    {
        window.location.href = "/Competicao/" + id;
    }

    function CadastrarCompeticaoPre() {
        if (!ValidacaoCompeticao()) return;

        var url = "@Url.Action("CadastrarCompeticao", "Competicao")";
            var params = {
                id: 0,
                ano: $("#data").val(),
                nome: $("#nome").val(),
         };
            $("#Modal").modal("hide");

           $.post(url, params, CadastrarCompeticaoPos);
    }

    function ExcluirCompeticaoPre(id)
    {

        var url = "@Url.Action("ExcluirCompeticao", "Competicao")";
            var params = {
                Id: id,
         };
            $("#Modal").modal("hide");
        $.post(url, params, ExcluirCompeticaoPos);
    }
</script>