﻿@using Pigeon.Model
@model Compra

<link rel="stylesheet" href="~/Content/css/Switch.css">
<link rel="stylesheet" href="~/Content/css/Pombo.css">

<div class="col-md-10 offset-1">
    <h3>Descrição da compra: @ViewBag.minhaCompra.descricao</h3>
    <h2>Data:</h2>
    <p>@ViewBag.minhaCompra.data.Date</p>
    </br>
    <button onclick="openNewItemModal();" class="btn btn-primary">Adicionar novo item</button>

    <h2>Itens da compra:</h2>
    @if (ViewBag.meusItems != null)
    {
    <table style="width:100%">
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Deletar</th>
        </tr>

        @foreach (var item in ViewBag.meusItems)
        {
        <tr>
            <td>@item.Nome</td>
            <td>@item.valor</td>
            <td><img class="responsivo" src="~/Content/imgs/icons/remove.png" height="25" onclick="ModalExclusaoItem(@item.id);" /></td>

        </tr>
        }
    </table>
            <br />
            <p>Total: @ViewBag.subtotal</p>
     }

     else{
            <p>A compra não possui itens.</p>
        }

    </div>


<script>


//Item da compra

function openNewItemModal() {
    var html =
        `<div class="row">

        <div class="form-group col-md-6">
            <label for="data">Nome:</label>
            <input type="text" class="form-control" id="Nome" placeholder="Briquê">
            <div class="invalid-feedback">
                Digite um nome válido.
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="data">Valor:</label>
            <input type="text" class="form-control" id="valor" placeholder="Briquê">
            <div class="invalid-feedback">
                Digite um valor numerico válido.
            </div>
        </div>
        

    </div>`;

    ModalShow("Cadastrar Compra", "CadastrarItemPre();", "", "Cadastrar", "Cancelar", html);
}

    function ModalExclusaoItem(icon) {
        var html = "Tem certeza que deseja excluir o cadastro do Compra '" + icon + "'?";
    ModalShow("Exclusão de Item", "ExcluirItemPre(" +icon+");", "", "Sim", "Não", html);
}

function CadastrarItemPre() {
    if (!ValidacaoItem()) return;

    var url = "/compra/" +@ViewBag.minhaCompra.id+"/additem";
    var params = {
        id: 0,
        Nome: $("#Nome").val(),
        valor: $("#valor").val(),
    };
    $("#Modal").modal("hide");
    ProgressBar();
    $.post(url, params, CadastrarItemPos);
}

function ValidacaoItem() {
    var valido = true;
    var campo = $("#Nome");
    if (campo.val() == "") {
        InvalidarPreenchimento(campo, "Nome Inválida.");
        valido = false;
    }
    campo = $("#valor");
    if (campo.val() == "") {
        InvalidarPreenchimento(campo, "Valor Inválida.");
        valido = false;
    }

    return valido;
}

function CadastrarItemPos(id) {
    StopProgressBar();
    if (!$.isNumeric(id)) {
        Mensagem("erro", "Ocorreu um erro inesperado. Cadastro não efetuado!")
    }
    else {
        Mensagem("sucesso", "Cadastrado com Sucesso!")
    }
}

function ExcluirItemPre(id) {

    var url = "/compra/"+id+"/excluirItem";
    var params = {
        id: id,
    };
    $("#Modal").modal("hide");
    ProgressBar();
    $.post(url, params, ExcluirItemPos);
}

function ExcluirItemPos(id) {
            StopProgressBar();
            if (!$.isNumeric(id)) {
                Mensagem("erro", "Ocorreu um erro inesperado. Exclusão não efetuada!")
            }
            else {
                $("#Pombo-" + id).remove();
                Mensagem("sucesso", "Excluído com Sucesso!")
         }
}

</script>