﻿@model IEnumerable<Pigeon.Model.Compra>


@using Pigeon.Model


<link href="~/Content/css/Pombo.css" rel="stylesheet">


<div class="row margem-top-25">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"> <img src="~/Content/imgs/icons/search.png" height="25" /> </div>
            </div>
            <input type="text" class="form-control" id="tbxBuscar" placeholder="Buscar">
        </div>
    </div>
    <div class="col-md-1">
        <img class="clicavel" src="~/Content/imgs/icons/add_circle.png" height="36" onclick="ModalCadastroCompra();" />
    </div>

</div>

<div class="row margem-top-10">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr class="text-center">
                    @*<th scope="col">ID</th>*@
                    <th scope="col">Descricão</th>
                    <th scope="col">Data realizada</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Compra P in Model)
                {
                    <tr id="Pombo-@P.id" class="text-center selecionar">
                        @*<td>@item.Id</td>*@
                        <td onclick="redirectToCompra(@P.id)">@P.descricao</td>
                        <td onclick="redirectToCompra(@P.id)">@P.data</td>
                        <td><img class="responsivo" src="~/Content/imgs/icons/remove.png" height="25" onclick="ModalExclusaoCompra(this);" /></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<script src="~/Scripts/Compra.js"></script>

<script>

    $(document).ready(
        function () {
            MudarSelecaoPagina("Compras");
        }
    );
    function redirectToCompra(id) {
        window.location.href = "/compra/" + id;
    }

    function CadastrarCompraPre() {
        if (!ValidacaoCompra()) return;

        var url = "@Url.Action("CadastrarCompra", "Compra")";
            var params = {
                id: 0,
                data: $("#data").val(),
                descricao: $("#descricao").val(),
         };
            $("#Modal").modal("hide");

           $.post(url, params, CadastrarCompraPos);
    }

    function ExcluirCompraPre(id)
    {

        var url = "@Url.Action("ExcluirCompra", "Compra")/" + id;
            var params = {
                Id: id,
         };
            $("#Modal").modal("hide");
            $.post(url, params, ExcluirCompraPos);
    }
</script>