﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/layout.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Progresso -->
    <link href="~/Content/css/waitMe.min.css" rel="stylesheet">

    <!-- mensagens sucesso/fracasso/outras -->
    <link href="~/Content/css/alertify.min.css" rel="stylesheet">
    <link href="~/Content/css/themes/bootstrap.min.css" rel="stylesheet">

    <!-------->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/main.js"></script>*@
    <script src="~/Scripts/waitMe.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/Geral.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark shadow">
        <div class="container">
            <a class="navbar-brand" href="#"><img class="logotipo" height="80" src="~/Content/imgs/logotransp.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav fonteAzul" id="ulMenu">
                    <li id="menuPombos" class="nav-item fonteAzul active">
                        <a class="nav-link" href="/pombo">Pombos <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="menuDoencas" class="nav-item">
                        <a class="nav-link" href="/doenca">Doencas <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="menuCompeticoes" class="nav-item">
                        <a class="nav-link" href="/competicao">Competicoes <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="menuRelatorios" class="nav-item">
                        <a class="nav-link" href="/Relatorios">Relatorios <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="menuJobs" class="nav-item">
                        <a class="nav-link" href="/compra">Compras<span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row" style="height:120px;">

        </div>
        @RenderBody()
    </div>


    <!-- ------------------------------------ Modal --------------------------------------------------------- -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">Cadastrar Pombo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        
                    </div>
                </div>
                <div id="Modal-Buttons" class="modal-footer">
                    <button id="modalBtnCancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="modalBtnConfirmar" type="button" class="btn btn-primary">Cadastrar</button>
                    <!-- removi o span -->
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------------- -->




</body>
</html>

<script>
    function MudarSelecaoPagina(pagina)
    {
        $("ul .active").removeClass("active");
        $("#menu" + pagina).addClass("active");
    }
</script>
