﻿nav {
    position: fixed !important;
    width: 100%;
    z-index: 99;
    top: 0px;
    background-color: #212121 !important;
}

.clicavel
{
    cursor: pointer;
}

body {
    background-color: #fafafa !important;
}

.titulo {
    color: #212121;
    height: 25px;
}

.responsivo {
    transition: all 0.3s ease;
}

.responsivo:hover {
    transform: scale(1.1);
}