﻿.margem-top-25 {
    margin-top: 25px;
}

.margem-top-45 {
    margin-top: 45px;
}

.margem-top-10 {
    margin-top: 10px;
}

.selecionar:hover {
    background-color: #82b1ff;
    color: #ffffff;
}

.selecionar {
    cursor: pointer;
}

.clicavel {
    cursor: pointer;
}

.cartao {
    padding: 20px;
    margin-top: 25px;
    background-color: white;
}


.cartao:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.transicao {
    transition: all 0.3s ease;
}

.iconStyle {
    position: relative;
    padding-left: 2em;
    height: 30px;
}

.iconAdd {
    position: relative;
    margin-left: 5px;
    height: 25px;
}

.list-group-item:hover {
    background-color: #82b1ff;
    color: #ffffff;
}

.teste {
    transition: all 0.3s ease;
}

    .teste:hover {
        transform: scale(1.08);
    }
