﻿@using Pigeon.Model;

@model List<TuplaRelatorioProva>

@{
    Layout = null;
}

@foreach (var T in Model)
{
    <tr>
        <th scope="row">@T.Id</th>
        <td>@T.Anilha</td>
        <td>@T.Prova</td>
        <td>@T.Colocacao</td>
        @*<td>@T.Velocidade</td>*@
    </tr>  

}

