﻿<link href="~/Content/css/Pombo.css" rel="stylesheet">

<div class="row margem-top-45 shadow rounded" style="padding-bottom:40px;">


    <div class="col-md-12">
        <div class="row text-center">
            <div class="col-md-12">
                <h5 class="text-center"> Genealogia Pombo:  <span></span></h5>
            </div>      
        </div>
        
        <hr style="margin-top:0px;margin-bottom:0"/>

        <div class="row margem-top-25">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div class="row margem-top-10">
                    <span style="font-weight:bold">&emsp;&emsp;&emsp;&emsp;&nbsp;Pai:&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span>
                    &emsp;&emsp;
                    <span style="font-weight:bold">&emsp;&emsp;&emsp;&ensp;Mãe:&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span>
                </div>
                <div class="row margem-top-10">
                    <span style="font-weight:bold">Avô Paterno:&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span>
                    &emsp;&emsp;
                    <span style="font-weight:bold">Avó Paterna&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span>
                    &emsp;&emsp;
                    <span style="font-weight:bold">Avô Materno:&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span>
                    &emsp;&emsp;
                    <span style="font-weight:bold">Avó Materna&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span>
                </div>
                <div class="row margem-top-10">
                    <span style="font-weight:bold">&emsp;&emsp;&emsp;Filhos:&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span> &emsp;
                    <span class="badge badge-primary">XXX XXXXX</span> &emsp;
                    <span class="badge badge-primary">XXX XXXXX</span> &emsp;
                    <span class="badge badge-primary">XXX XXXXX</span> &emsp;
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div class="row">
                    <span style="font-weight:bold">Pombo:&emsp;</span>
                    <span class="badge badge-primary">XXX XXXXX</span>
                </div>
            </div>
        </div>*@


    </div>
</div>
