﻿@using Pigeon.Model;
@model List<Prova>

<link href="~/Content/css/Pombo.css" rel="stylesheet">

@*<div class="row text-center  margem-top-45">
    <div class="col-md-12 text-center">
        <h5>Relatório de Provas</h5>
    </div>
    
</div>*@
<div class="row margem-top-45">
    <div class="col-md-12">
        <div class="accordion" id="accordionExample">

            <div class="card" >
                <div class="card-header" id="headingOne" style="background-color:white; cursor: pointer;">
                    
                        <div  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6>
                                Relatório de Provas
                            </h6>                     
                        </div>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                                <div class="col-md-3 form-group">
                                    <input type="number" class="form-control" id="tbxId" placeholder="Id">
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="text" class="form-control" id="tbxAnilha" placeholder="Anilha">
                                </div>
                            <div class="col-md-4 form-group">
                                <select id ="ddlProvas" class="form-control" onchange="OnselectProva()">
                                    <option selected value="0">Selecione Uma Prova</option>
                                    @foreach (var Pr in Model)
                                    {
                                        <option value="@Pr.id">@Pr.descricao</option>
                                    }
                                </select>
                            </div>
                                <div class="col-md-2 form-group">
                                    <button type="button" class="btn btn-primary" onclick="ConsultarProvaPorPomboPre()">Consultar</button>
                                </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <table id="tbPorPombo" class="table text-center table-hover d-none">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Anilha</th>
                                            <th scope="col">Prova</th>
                                            <th scope="col">Colocação</th>
                                            @*<th scope="col">Veloc. Med. Vôo</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingTwo" style="background-color:white; cursor: pointer;">
                    <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h6>
                            Ancestralidade
                        </h6>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">



                    <div class="card-body" @*style="padding-bottom:40px;"*@>
                        
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <input type="number" class="form-control" id="tbxId2" placeholder="Id">
                            </div>
                            <div class="col-md-3 form-group">
                                <input type="text" class="form-control" id="tbxAnilha2" placeholder="Anilha">
                            </div>
                            <div class="col-md-2 form-group">
                                <button type="button" class="btn btn-primary" onclick="ConsultarAncestralidadePre()">Consultar</button>
                            </div>
                        </div>

                        <div class="row">
                            <div id="divAncestralidade" class="col-md-12 d-none">
                                <div class="row" style="padding-left:25px; padding-bottom:25px">
                                    

                                    <div class="col-md-12">
                                        <div class="row margem-top-25">
                                            <span style="font-weight:bold">&emsp;&emsp;&emsp;&emsp;&nbsp;Pai:&emsp;</span>
                                            <span id="spPai" class="badge badge-primary"></span>
                                            &emsp;&emsp;
                                            <span style="font-weight:bold">&emsp;&emsp;&emsp;&ensp;Mãe:&emsp;</span>
                                            <span id="spMae" class="badge badge-primary"></span>
                                        </div>
                                        <div class="row margem-top-25">
                                            <span style="font-weight:bold">Avô Paterno:&emsp;</span>
                                            <span id="spAvPat" class="badge badge-primary"></span>
                                            &emsp;&emsp;
                                            <span style="font-weight:bold">Avó Paterna:&emsp;</span>
                                            <span id="spAvoPat" class="badge badge-primary"> </span>
                                            &emsp;&emsp;
                                            <span style="font-weight:bold">Avô Materno:&emsp;</span>
                                            <span id="spAvMat" class="badge badge-primary"> </span>
                                            &emsp;&emsp;
                                            <span style="font-weight:bold">Avó Materna:&emsp;</span>
                                            <span id="spAvoMat" class="badge badge-primary"> </span>
                                        </div>
                                        <div id="divFilhos" class="row margem-top-25">

                                            @*<span class="badge badge-primary">@filho.Anilha</span> <span>&emsp;</span>*@
                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $(document).ready(
        function () {
            MudarSelecaoPagina("Relatorios");
        }
    );

    function ConsultarProvaPorPomboPre() {
        var url = "@Url.Action("_BuscaPorPombo", "Relatorio")";

        var params = {
            idPombo: $("#tbxId").val() == "" ? 0 : $("#tbxId").val(),
            Anilha: $('#tbxAnilha').val(),
            idProva: 0
        };

        ProgressBar();

        $.post(url, params, ConsultarProvaPorPomboPos);
    }

    function ConsultarProvaPorPomboPos(html) {

        StopProgressBar();
        $("#tbPorPombo tbody").html(html);
        $("#tbPorPombo").removeClass("d-none");
    };

    function OnselectProva()
    {
        var url = "@Url.Action("_BuscaPorPombo", "Relatorio")";

        var params = {
            idPombo: $("#tbxId").val() == "" ? 0 : $("#tbxId").val(),
            Anilha: $('#tbxAnilha').val(),
            idProva: $("#ddlProvas option:selected").val()
        };

        ProgressBar();

        $.post(url, params, ConsultarProvaPorPomboPos);
    }

    function ConsultarAncestralidadePre()
    {
        var url = "@Url.Action("Genealogia", "Relatorio")";

        var params = {
            idPombo: $("#tbxId2").val() == "" ? 0 : $("#tbxId2").val(),
            Anilha: $('#tbxAnilha2').val()
        };

        ProgressBar();

        $.post(url, params, ConsultarAncestralidadePos);
    }

    function ConsultarAncestralidadePos(genealogia) {
        var teste;
        try
        {
            teste = genealogia.indexOf("encontrado") != -1;
        }
        catch(a)
        {
            teste = false;
        }

        if (teste) {
            Mensagem("alerta", genealogia);
        }
        else {

            $("#spPai").text(genealogia.pai.Anilha);
            $("#spMae").text(genealogia.mae.Anilha);
            $("#spAvMat").text(genealogia.avMat.Anilha);
            $("#spAvoMat").text(genealogia.avoMat.Anilha);
            $("#spAvPat").text(genealogia.avPat.Anilha);
            $("#spAvoPat").text(genealogia.avoPat.Anilha);

            var filhos = "<span style='font-weight:bold'>&emsp;&emsp;&emsp;Filhos:&emsp;</span> ";

            $(genealogia.filhos).each(function (index, filho) {
                filhos = filhos.concat("<span class='badge badge-primary'>" + filho.Anilha + "</span> <span>&emsp;</span> ")
            });

            $("#divFilhos").html(filhos);

            $("#divAncestralidade").removeClass("d-none");
        }

        StopProgressBar();

    }
</script>
