﻿

@{
    Layout = null;
}

@using Pigeon.Model
@model Pombo

<tr id="Pombo-@Model.Id" class="text-center selecionar" onclick="RedirecionarParaPombo(@Model.Id);">
    
    <td>@Model.Id</td>
    <td>@Model.Anilha</td>
    <td>@Model.Sexo</td>
    <td>@(Convert.ToInt16(Math.Floor((DateTime.Now.Subtract(Model.DataNasc).Days) / 365.0)))</td>
    @*<td>@(Model.Rank.ToString() == "0" ? "--" : Model.Rank.ToString())</td>*@
    <td><img class="responsivo" src="~/Content/imgs/icons/remove.png" height="25" onclick="ModalExclusaoPombo(this);" /></td>
</tr>
