﻿@using Pigeon.Model
@model List<Pombo>

<link href="~/Content/css/Pombo.css" rel="stylesheet">


<div class="row margem-top-25">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"> <img src="~/Content/imgs/icons/search.png" height="25" /> </div>
            </div>
            <input type="text" class="form-control" id="tbxBuscar" placeholder="Buscar">
        </div>
    </div>
    <div class="col-md-1">
        <img class="clicavel" src="~/Content/imgs/icons/add_circle.png" height="36" onclick="ModalCadastroPombo();"/>
    </div>

</div>

<div class="row margem-top-10">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Anilha</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Idade</th>
                    @*<th scope="col">Rank</th>*@
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pombo P in Model)
                {
                    { Html.RenderPartial("_NovoPombo", P); }
                }
            </tbody>
        </table>

    </div>
</div>
<script src="~/Scripts/Pombo.js"></script>

<script>
    $(document).ready(
        function () {
            MudarSelecaoPagina("Pombos");
        }
    );

    function CadastrarPomboPre() {
        if (!ValidacaoPombo()) return;

        var url = "@Url.Action("CadastrarPombo", "Pombo")";
            var params = {
                Id: 0,
                Anilha: $("#tbxAnilha").val(),
                DataNasc: $("#tbxDataNasc").val(),
                Sexo: $("#ddlSexo option:selected").val()
         };
            $("#Modal").modal("hide");
            ProgressBar();
            $.post(url, params, CadastrarPomboPos);
    }

    function ExcluirPomboPre(id)
    {

         var url = "@Url.Action("ExcluirPombo", "Pombo")";
            var params = {
                Id: id,
         };
            $("#Modal").modal("hide");
            ProgressBar();
            $.post(url, params, ExcluirPomboPos);
    }

    function RedirecionarParaPombo(id) {

        window.location.href = '/Pombos/'+id;
    }

</script>