﻿@using Pigeon.Model
@model Pombo

<link rel="stylesheet" href="~/Content/css/Switch.css">
<link rel="stylesheet" href="~/Content/css/Pombo.css">

<div style="margin-top:25px;" class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fomCadstraPomboEmProv">
            Cadastrar pombo em prova
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fomCadstraPomboEmDoenca">
            Cadastrar doenca em pombo
        </button>
    </div>
</div>

<script>
    $(document).ready(
        function () {
            MudarSelecaoPagina("Pombos");
        }
    );
    function ValidacaoPomboProva() {
        var valido = true;
        var campo = $("#idPombo");
        if (campo.val() == "") {
            InvalidarPreenchimento(campo, "Preencha o Id do pombo Inválida.");
            valido = false;
        }
        campo = $('#provas').children(":selected").attr("id");
        if (campo == "") {
            InvalidarPreenchimento(campo, "Prova Inválida.");
            valido = false;
        }
        return valido;
    };

    function CadastrarPomboProvaPos(result) {
        StopProgressBar();
        if (result == 0) {
            Mensagem("erro", "Ocorreu um erro inesperado. Cadastro não efetuado!");
        }
        else {
            Mensagem("sucesso", "Cadastrado com Sucesso!");
        }
    };

    function CadastrarPomboProvaPre() {
        if (!ValidacaoPomboProva()) return;

        var url = "@Url.Action("registrarPomboEmProva", "Pombo")";
        var params = {
            idPombo: $("#idpombo")[0].value,
            idProva: $('#provas').children(":selected").attr("id")
        };
        $("#fomCadstraPomboEmProv").modal("hide");
        ProgressBar();
       $.post(url, params, CadastrarPomboProvaPos);
    };
</script>

<div id="fomCadstraPomboEmProv" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Cadastro de pombo em prova</h1>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="idpombo">Identificação do pombo:</label>
                        <input type="text" class="form-control" id="idpombo" aria-describedby="idpombo" value="@Model.Id" disabled>
                        <small id="emailHelp" class="form-text text-muted">Id do pombo selecionado.</small>
                    </div>
                    <div class="form-group">
                        <label for="anilhapombo">Anilha do pombo:</label>
                        <input type="text" class="form-control" id="anilhapombo" placeholder="Password" value="@Model.Anilha" disabled>
                    </div>
                    <hr>
                    <div class="dropdown">
                        <select id="provas" value="Proximas provas">

                            @foreach (Prova y in @ViewBag.proximasProvas)
                            {
                                <option id="@y.id">Prova @y.descricao</option>
                            }
                        </select>
                    </div>

                    <hr>
                    <button data-dismiss="modal" style="float: left;" class="btn">Cancelar</button>
                    <button type="submit" style="float: right;" class="btn btn-primary" onclick="CadastrarPomboProvaPre();">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- cadastro pombo_doenca --->
<script>
    function ValidacaoPomboDoenca() {
        var valido = true;
        var campo = $("#idPombo");
        if (campo.val() == "") {
            InvalidarPreenchimento(campo, "Preencha o Id do pombo Inválida.");
            valido = false;
        }
        campo = $('#doencas').children(":selected").attr("id");
        if (campo == "") {
            InvalidarPreenchimento(campo, "Doenca Inválida.");
            valido = false;
        }
        return valido;
    };

    function CadastrarPomboDoencaPos(result) {
        StopProgressBar();
        if (result == 0) {
            Mensagem("erro", "Ocorreu um erro inesperado. Cadastro não efetuado!");
        }
        else {
            Mensagem("sucesso", "Cadastrado com Sucesso!");
        }
    };

    function CadastrarPomboDoencaPre() {
        if (!ValidacaoPomboDoenca()) return;

        var url = "@Url.Action("registrarDoencaEmPombo", "Pombo")";
        var params = {
            idPombo: $("#idpombo")[0].value,
            idDoenca: $('#doencas').children(":selected").attr("id")
        };
        $("#fomCadstraPomboEmDoenca").modal("hide");
        ProgressBar();
       $.post(url, params, CadastrarPomboDoencaPos);
    };
</script>

<div id="fomCadstraPomboEmDoenca" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Cadastro de doença em pombo</h1>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="idpombo">Identificação do pombo:</label>
                        <input type="text" class="form-control" id="idpombo" aria-describedby="idpombo" value="@Model.Id" disabled>
                        <small id="emailHelp" class="form-text text-muted">Id do pombo selecionado.</small>
                    </div>
                    <div class="form-group">
                        <label for="anilhapombo">Anilha do pombo:</label>
                        <input type="text" class="form-control" id="anilhapombo" placeholder="Password" value="@Model.Anilha" disabled>
                    </div>
                    <hr>
                    <div class="dropdown">
                        <select id="doencas" value="Doencas cadastradas">

                            @foreach (Doenca y in @ViewBag.doencasCadastradas)
                            {
                                <option id="@y.id">@y.Nome</option>
                            }
                        </select>
                    </div>

                    <hr>
                    <button data-dismiss="modal" style="float: left;" class="btn">Cancelar</button>
                    <button type="submit" style="float: right;" class="btn btn-primary" onclick="CadastrarPomboDoencaPre();">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--                         -->
<div id="DivPombo" class="shadow-sm rounded cartao transicao margem-top-25">
    <div class="row titulo">
        <div class="col-md-11 text-center">
            <h5>Pombo</h5>
        </div>
        <img id="@Model.Id" class="iconStyle clicavel" src="~/Content/imgs/icons/edit.png" onclick="LiberarAlteracaoPombo(this)" />
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="form-group col-md-5">
            <label for="tbxAnilha">Anilha:</label>
            <input type="text" class="form-control" id="tbxAnilha" value="@Model.Anilha" disabled>
            <div class="invalid-feedback">
                Digite uma Anilha válida.
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="ddlSexo">Sexo:</label>
            <select id="ddlSexo" class="form-control" disabled>
                <option value="M" selected="@(Model.Sexo == "M")">Macho</option>
                <option value="F" selected="@(Model.Sexo == "F")">Fêmea</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="form-group col-md-5">
            <label for="tbxDataNasc">Data Nascimento:</label>
            <input type="date" class="form-control" id="tbxDataNasc" value="@Model.DataNasc.ToString("yyyy-MM-dd")" disabled>
            <div class="invalid-feedback">
                Digite uma Data válida.
            </div>
        </div>
        @*<div class="col-md-1"></div>*@
        <div class="col-md-5 text-center d-none">
            <div class="row">
                <label style="margin-left:35%;">Registro de Morte:</label>
            </div>
            <div class="row">
                <label class="switch" style="left:50%; transform: translateX(-50%)">
                    <input id="cbxObito" type="checkbox" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

</div>


<div id="DivEstatisticas" class="shadow-sm rounded cartao transicao margem-top-25">
    <div class="row titulo">
        <div class="col-md-11 text-center">
            <h5>Provas</h5>
        </div>
    </div>
    <hr />

        <div class="row">
            <div class="col-md-12">

                @*<h1>@x.descricao</h1>
                <h1>@x.tipo</h1>
                <hr />*@
                <ul class="list-group list-group-flush">

                    <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Nome</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>Tipo</h5>
                                </div>
                            </div>
                    </li>

                    @foreach (Prova x in ViewBag.provasDoPombo)
                    {
                        <li class="list-group-item text-center clicavel">
                            <a href="~/competicao/@x.competicaoId">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>@x.descricao</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>@x.tipo</h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>



        </div>
    

</div>



<div id="DivDoencas" class="shadow-sm rounded cartao transicao margem-top-25">
    <div class="row titulo">
        <div class="col-md-11 text-center">
            <h5>Doenças</h5>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">

            @*<h1>@x.descricao</h1>
                <h1>@x.tipo</h1>
                <hr />*@
            <ul class="list-group list-group-flush">

                <li class="list-group-item text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Nome</h5>
                        </div>
                        <div class="col-md-6">
                            <h5>Descricao</h5>
                        </div>
                    </div>
                </li>

                @foreach (Doenca x in ViewBag.DoencasDoPombo)
                {
                    <li class="list-group-item text-center clicavel">
                        <a href="~/doenca/@x.id">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>@x.Nome</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>@x.descricao_sintomas</h5>
                                </div>
                            </div>
                        </a>
                    </li>
                }

            </ul>
        </div>



    </div>


</div>





@*<div id="DivEstatisticas" class="shadow-sm rounded cartao transicao margem-top-25">
    <div class="row titulo">
        <div class="col-md-11 text-center">
            <h5>Estatisticas</h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <ul class="list-group list-group-flush">

                <li class="list-group-item rounded">
                    <div class="row">
                        <div class="col-md-6">
                            Idade:
                        </div>
                        <div class="col-md-6">
                            4 anos
                        </div>
                    </div>
                </li>


                <li class="list-group-item rounded active">
                    <div class="row">
                        <div class="col-md-6">
                            Velocidade de Voo:
                        </div>
                        <div class="col-md-6">
                            87 Km/h
                        </div>
                    </div>
                </li>


                <li class="list-group-item rounded">
                    <div class="row">
                        <div class="col-md-6">
                            Filhotes:
                        </div>
                        <div class="col-md-6">
                            6
                        </div>
                    </div>
                </li>

                <li class="list-group-item rounded">
                    <div class="row">
                        <div class="col-md-6">
                            Competições:
                        </div>
                        <div class="col-md-6">
                            6 participações
                        </div>
                    </div>
                </li>

                <li class="list-group-item rounded">
                    <div class="row">
                        <div class="col-md-6">
                            Melhor Colocação:
                        </div>
                        <div class="col-md-6">
                            4º Colocado
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="col-md-5">
            <img class="teste" height="289" src="~/Content/imgs/grafico.png" />
        </div>

    </div>

</div>*@

<script src="~/Scripts/Pombo.js"></script>

<script>
    function AlteracaoPomboPre(id)
    {
        if (!ValidacaoPombo()) return;

        var url = "@Url.Action("AlterarPombo", "Pombo")";
            var params = {
                Id: id,
                Anilha: $("#tbxAnilha").val(),
                DataNasc: $("#tbxDataNasc").val(),
                Sexo: $("#ddlSexo option:selected").val()
         };
            ProgressBar();
            $.post(url, params, AlterarPomboPos);
    }
</script>
